# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out
build

# Development
.env*.local
.env

# Testing
coverage

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
*.log
